<%- include('partials/header.ejs'); %>
<body>
  <%- include('partials/navbar'); %>
  
  <div class="container">
    <br>
      <hr>
      <h1><%= pergunta.titulo %></h1>
      <p><%= pergunta.descricao %></p>
      <hr>
      <form method="POST" action="/responder"> 
        <div class="form-group">
          <h3>Responda</h3>
          <label for="">Resposta:</label>
          <textarea class="form-control" rows="3" name="corpo" placeholder="Digite sua resposta."></textarea>
          <input type="hidden" name="pergunta" value="<%= pergunta.id %>" />
        </div>
        <button type="submit" class="btn btn-primary">Responder</button>
      </form>
      <hr>
      <h3>Respostas</h3>
      <% respostas.forEach(resposta => {%>
        <br>
        <div class="card">
          <div class="card-body">
            <p><%= resposta.corpo %></p>
          </div>
        </div>
      <% }) %>
      <hr>
  </div>

</body>
<%- include('partials/footer.ejs'); %>